@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Poppins";
    src: url(./fonts/Poppins-Regular.ttf);
  }
  img {
    width: 100%;
  }

  html {
    scroll-behavior: smooth;
  }
  .section {
    @apply container mx-auto pt-[2rem] px-6 mb-36
  }
}